---
import Layout from "@/layouts/Layout.astro";
import { type Vertex } from "@nexus-archive/repo-db";

const getEntryPoints = async () => {
  let entryPoints: Vertex[] = [];
  try {
    const response = await fetch(`https://nexus-repo.mooo.com/v1/entry-points`);
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    entryPoints = await response.json();
  } catch (error) {
    console.error("Error fetching entry points:", error);
    entryPoints = [];
  }
  return entryPoints;
};
---

<Layout>
  {
    getEntryPoints().then((entryPoints) => (
      <div>
        {entryPoints.length === 0 ? (
          <p>No entry points available.</p>
        ) : (
          entryPoints.map((vertex) => <a href={`${vertex.owner}`}>{vertex}</a>)
        )}
      </div>
    ))
  }
</Layout>
